<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>리터럴</h1>
<ul>
    <!--주의! 다음 주석을 풀면 예외가 발생함-->
    <!-- <li>"hello world!" = <span th:text="hello world!"></span></li>-->
    <!-- 타임 리스프에서 공백이 있는 경우 쌍따옴표가 아닌 단일 따옴표로 감싸줘야함.  -->
    <!-- 공백이 있는 상태에서 쌍따옴표를 쓰는 경우, 각각 하나의 의미있는 토큰으로 인식함 -->
    <li>'hello' + ' world!' = <span th:text="'hello' + ' world!'"></span></li>
    <li>'hello world!' = <span th:text="'hello world!'"></span></li>
    <li>'hello ' + ${data} = <span th:text="'hello ' + ${data}"></span></li>
    <!-- | 리터럴 대체 문법. 굳이 따옴표를 쓸필요가 없음  -->
    <li>리터럴 대체 |hello ${data}| = <span th:text="|hello ${data}|"></span></li>
</ul>
</body>
</html>